<a href="https://colab.research.google.com/github/beyzaknbr/Coffee_Project/blob/main/coffeeSales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('coffee_sales.csv')

In [4]:
df

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.70,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.70,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.70,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.90,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.70,Latte
...,...,...,...,...,...,...
3631,2025-03-23,2025-03-23 10:34:54.894,card,ANON-0000-0000-1158,35.76,Cappuccino
3632,2025-03-23,2025-03-23 14:43:37.362,card,ANON-0000-0000-1315,35.76,Cocoa
3633,2025-03-23,2025-03-23 14:44:16.864,card,ANON-0000-0000-1315,35.76,Cocoa
3634,2025-03-23,2025-03-23 15:47:28.723,card,ANON-0000-0000-1316,25.96,Americano
3635,2025-03-23,2025-03-23 18:11:38.635,card,ANON-0000-0000-1275,35.76,Latte

In [5]:
df.describe()

             money
count  3636.000000
mean     31.746859
std       4.919926
min      18.120000
25%      27.920000
50%      32.820000
75%      35.760000
max      40.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3636 entries, 0 to 3635
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3636 non-null   object
 1   datetime     3636 non-null   object
 2   cash_type    3636 non-null   object
 3   card         3547 non-null   object
 4   money        3636 non-null   float64
 5   coffee_name  3636 non-null   object
dtypes: float64(1), object(5)
memory usage: 170.6+ KB

In [7]:
df.shape

(3636, 6)

In [8]:
df[df['card'].isnull()]['cash_type'].value_counts() #burdan çıkarımım card bilgisi eksik olanlar cash olanlar yani data setimizde eksik veri yok

cash_type
cash    89
Name: count, dtype: int64

In [9]:
df.isnull().sum() #başka bir değerimde eksik yok

date            0
datetime        0
cash_type       0
card           89
money           0
coffee_name     0
dtype: int64

In [10]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3631    False
3632    False
3633    False
3634    False
3635    False
Length: 3636, dtype: bool

In [11]:
df[df.duplicated]

Empty DataFrame
Columns: [date, datetime, cash_type, card, money, coffee_name]
Index: []

In [12]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [13]:
df['date'] = pd.to_datetime(df['date'])

In [14]:
coffee_sales = df.groupby('coffee_name')['money'].sum()
coffee_sales_sorted = coffee_sales.sort_values(ascending=False)
coffee_sales_sorted

coffee_name
Latte                  27866.30
Americano with Milk    25269.12
Cappuccino             18034.14
Americano              15062.26
Hot Chocolate          10172.46
Cocoa                   8678.16
Cortado                 7534.86
Espresso                2814.28
Name: money, dtype: float64

In [15]:
df['coffee_name'].value_counts() #latte daha az satılıyo ama kazanç daha fazla

coffee_name
Americano with Milk    824
Latte                  782
Americano              578
Cappuccino             501
Cortado                292
Hot Chocolate          282
Cocoa                  243
Espresso               134
Name: count, dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3636 entries, 0 to 3635
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3636 non-null   datetime64[ns]
 1   datetime     3636 non-null   datetime64[ns]
 2   cash_type    3636 non-null   object
 3   card         3547 non-null   object
 4   money        3636 non-null   float64
 5   coffee_name  3636 non-null   object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 170.6+ KB

In [17]:
df['hour'] = (df['datetime'].dt.hour) # datetime dan saati çıkardım

In [18]:
hour_sales = df.groupby('hour')['money'].sum()
hour_sales_sorted = hour_sales.sort_values(ascending=False)
hour_sales_sorted

hour
10    10994.52
16     9221.60
11     8849.10
19     7966.96
17     7925.00
15     7789.02
12     7668.62
9      7429.28
14     7265.80
18     7235.60
13     7108.76
8      7017.88
21     6465.94
20     5656.92
22     3747.16
7      2940.02
6       149.40
Name: money, dtype: float64

In [19]:
df.groupby('hour')['coffee_name'].value_counts()

hour  coffee_name
6     Americano               2
      Americano with Milk     2
      Cappuccino              1
7     Latte                  30
      Cappuccino             20
                             ..
22    Cappuccino             18
      Americano              14
      Cocoa                   7
      Cortado                 5
      Espresso                2
Name: count, Length: 130, dtype: int64

In [20]:
df['card'] = df['card'].fillna('cash')  #boş verileri card la doldurdum

In [21]:
df.isnull().sum()

date           0
datetime       0
cash_type      0
card           0
money          0
coffee_name    0
hour           0
dtype: int64

In [22]:
df.groupby('cash_type')['money'].mean()

cash_type
card    31.645216
cash    35.797753
Name: money, dtype: float64

In [23]:
hour_sales_sorted.head()

hour
10    10994.52
16     9221.60
11     8849.10
19     7966.96
17     7925.00
Name: money, dtype: float64

In [24]:
df['day_name'] = df['datetime'].dt.day_name()
df.groupby('day_name')['money'].sum()

day_name
Friday       17257.66
Monday       17925.10
Saturday     15182.52
Sunday       13858.06
Thursday     16477.40
Tuesday      18637.38
Wednesday    16093.46
Name: money, dtype: float64

In [25]:
haftasonu = df[(df['day_name']=='Saturday') | (df['day_name']=='Sunday')]

In [26]:
haftasonu['money'].sum()

np.float64(29040.58)

In [27]:
haftaici = df[(df['day_name']!='Saturday') & (df['day_name']!='Sunday')]

In [28]:
haftaici['money'].sum()

np.float64(86391.0)

In [29]:
df['money'].sum()

np.float64(115431.58)

In [30]:
df['money'].sum()

np.float64(115431.58)